## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,41.11,87,75,27.63,light intensity shower rain
1,1,Severo-Kurilsk,RU,50.6789,156.1250,35.20,99,100,10.94,light snow
2,2,Tuatapere,NZ,-46.1333,167.6833,61.83,72,37,2.17,scattered clouds
3,3,Khatanga,RU,71.9667,102.5000,21.97,94,100,8.46,light snow
4,4,Chapais,CA,49.7834,-74.8492,42.58,96,100,9.95,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Hasaki,JP,35.7333,140.8333,75.29,58,0,21.77,clear sky
12,12,Puerto Ayora,EC,-0.7393,-90.3518,71.91,90,72,5.97,broken clouds
14,14,Hilo,US,19.7297,-155.0900,74.28,94,100,5.99,heavy intensity rain
17,17,Rikitea,PF,-23.1203,-134.9692,77.59,80,100,17.09,light rain
18,18,Grand Gaube,MU,-20.0064,57.6608,76.37,86,25,1.01,light rain
20,20,Saint-Philippe,RE,-21.3585,55.7679,72.99,83,50,12.48,light rain
22,22,Isla Mujeres,MX,21.2311,-86.7310,80.17,82,0,11.97,clear sky
23,23,Atuona,PF,-9.8000,-139.0333,79.23,79,100,18.61,overcast clouds
28,28,Shimoda,JP,34.6667,138.9500,70.16,57,25,14.94,scattered clouds
29,29,Neiafu,TO,-18.6500,-173.9833,81.28,69,75,5.75,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                270
City                   270
Country                268
Lat                    270
Lng                    270
Max Temp               270
Humidity               270
Cloudiness             270
Wind Speed             270
Current Description    270
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Hasaki,JP,35.7333,140.8333,75.29,58,0,21.77,clear sky
12,12,Puerto Ayora,EC,-0.7393,-90.3518,71.91,90,72,5.97,broken clouds
14,14,Hilo,US,19.7297,-155.0900,74.28,94,100,5.99,heavy intensity rain
17,17,Rikitea,PF,-23.1203,-134.9692,77.59,80,100,17.09,light rain
18,18,Grand Gaube,MU,-20.0064,57.6608,76.37,86,25,1.01,light rain
...,...,...,...,...,...,...,...,...,...,...
686,686,Lorengau,PG,-2.0226,147.2712,83.39,76,72,2.39,heavy intensity rain
687,687,Hirara,JP,24.8000,125.2833,71.87,94,75,17.27,light intensity shower rain
691,691,Bourail,NC,-21.5667,165.4833,76.62,81,83,12.10,broken clouds
692,692,Mambajao,PH,9.2504,124.7156,83.75,73,66,11.92,broken clouds
693,693,Bridgetown,BB,13.1000,-59.6167,79.29,83,40,13.80,scattered clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Hasaki,JP,75.29,clear sky,35.7333,140.8333,
12,Puerto Ayora,EC,71.91,broken clouds,-0.7393,-90.3518,
14,Hilo,US,74.28,heavy intensity rain,19.7297,-155.0900,
17,Rikitea,PF,77.59,light rain,-23.1203,-134.9692,
18,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,
20,Saint-Philippe,RE,72.99,light rain,-21.3585,55.7679,
22,Isla Mujeres,MX,80.17,clear sky,21.2311,-86.7310,
23,Atuona,PF,79.23,overcast clouds,-9.8000,-139.0333,
28,Shimoda,JP,70.16,scattered clouds,34.6667,138.9500,
29,Neiafu,TO,81.28,broken clouds,-18.6500,-173.9833,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
       
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Hasaki,JP,75.29,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
12,Puerto Ayora,EC,71.91,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Hilo,US,74.28,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Rikitea,PF,77.59,light rain,-23.1203,-134.9692,People ThankYou
18,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
...,...,...,...,...,...,...,...
686,Lorengau,PG,83.39,heavy intensity rain,-2.0226,147.2712,Lorengau Harbourside Hotel
687,Hirara,JP,71.87,light intensity shower rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
691,Bourail,NC,76.62,broken clouds,-21.5667,165.4833,Motel Allamanda
692,Mambajao,PH,83.75,broken clouds,9.2504,124.7156,SomeWhere Else boutique resort
693,Bridgetown,BB,79.29,scattered clouds,13.1000,-59.6167,Hilton Barbados Resort

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]

In [15]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Hasaki,JP,75.29,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
12,Puerto Ayora,EC,71.91,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Hilo,US,74.28,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Rikitea,PF,77.59,light rain,-23.1203,-134.9692,People ThankYou
18,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
...,...,...,...,...,...,...,...
686,Lorengau,PG,83.39,heavy intensity rain,-2.0226,147.2712,Lorengau Harbourside Hotel
687,Hirara,JP,71.87,light intensity shower rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
691,Bourail,NC,76.62,broken clouds,-21.5667,165.4833,Motel Allamanda
692,Mambajao,PH,83.75,broken clouds,9.2504,124.7156,SomeWhere Else boutique resort
693,Bridgetown,BB,79.29,scattered clouds,13.1000,-59.6167,Hilton Barbados Resort

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))